/* for all styles */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

/* Basic styles for the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #14213D;
  color: #fff;
  border-bottom: 1px solid #ddd;
  max-height: 40px;
}

header img {
  height: 60px;
}

a {
  appearance: none;
  text-decoration: none;
  color: white;
}

.button-container {
  margin-right: 10px;
}

.exit-button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.exit-button a {
  text-decoration: none;
  color: white;
}

.exit-button:hover {
  background-color: #d62828;
}

body{
  background-color: rgba(80, 80, 80, 0.9);
  font-family: 'Arial', sans-serif;
}

.container-form {
  max-width: 500px;
  margin: 100px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.759);
  text-align: center;
  margin-top: 10%;
}

.container-form h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="email"],
textarea {
  width: 93%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

textarea {
  resize: none;
  height: 150px;
}

.submit-button {
  background-color: #14213D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0f1a2b;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}