/* Basic styles for the header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    background-color: #14213D;
    color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  header img {
    margin: 0;
  }

a {
    appearance: none;
    text-decoration: none;
    color: white;
}

.cointainer-form{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: auto;
    right: auto;
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

header img {
  height: 40px;
}

.button-container {
  margin-right: 10px;
}

.exit-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.exit-button a {
  text-decoration: none;
  color: white;
}

.exit-button:hover {
  background-color: #e63939;
}

.container-form {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

textarea {
  resize: none;
  height: 100px;
}

.submit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: black;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}